
frontend/node_modules/
backend/node_modules/

# Fișiere de build
frontend/dist/
backend/dist/

# Fișiere de configurare sensibile
backend/.env

# Loguri
*.log
npm-debug.log*

# Fișiere generate de sistem sau editor
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
*.sw?
